/* Screenshots page
 =======================================*/
.screenshot-page-container[data-2807211703] {
    margin: 10px 0;

    @media (max-width: 780px) {
        max-width: 500px;
    }

    & > .items {
        display: flex;

        @media (max-width: 780px) {
            flex-direction: column;
            justify-content: flex-start;
        }

        & > .item {
            display: flex;
            flex: 1 1 50%;
            justify-content: center;
            max-width: 565px;
            margin-right: 20px;
            margin-bottom: 20px;

            @media (max-width: 780px) {
                justify-content: flex-start;
                margin-right: 0;
            }


            & > .paragraph {

            }

            & > img {
                width: 100%;
                max-width: 495px;
                border-radius: 7px;
            }
        }
    }
    & > .items:last-child {

        & > .item {

            & > img {
                max-width: 402px;
            }
        }
    }
}