/* Footer
 =======================================*/
.footer {
    display: flex;
    background-color: #e8e8e8;

    .container {
        //max-width: none;
    }

    &__inner {
        width: 100%;
        height: 38px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.footer-item {
    font-size: 13px;
}

/* Footer Privacy Policy
 =======================================*/
.footer-privacy {

    &__link {
        //text-decoration: none;
        //color: #000000;
    }
}


/* Footer Copyright
 =====================================*/
.footer-copyright {

    &__paragraph {
        color: #000000;
        margin: 0 auto;
        text-align: right;
    }
}