/* Global style
 =======================================*/

html, body {
    margin: 0;
    font-family: Verdana, Arial, sans-serif;
    font-size: 16px;
    color: #000;
    background-color: #fff;
}

a:active {
    color: red;
}

ul.mgnul > li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

ol.mgnol > li {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* означает для всех элементов */
*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    color: $blue-color;
}

* {
    outline: none;
}

blockquote {
    line-height: 24px;
}

p {
    line-height: 24px;
}

/* Body inner
=======================================*/
.global[data-global-2306211720] {

    /* Container
    =======================================*/
    & > * > .container {
        display: flex;
        width: 100%;
        max-width: 1450px;
        margin: 0 auto;
        padding: 0 10px;

        @media(min-width: 1027px) {
            padding: 0 60px;
        }
    }

    /* Header
    =======================================*/
    & > .header {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 50;

        & > .container {

            & > .inner {
                position: relative;
                width: 100%;
                height: 129px;
                display: flex;
                justify-content: space-between;
                padding: 15px 0;
                align-items: center;

                @media (max-width: 480px) {
                    height: 80px;
                }
            }
        }
    }

    & > .header:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #e8e8e8;
        z-index: 2;
    }

    /* Main
    =======================================*/
    & > .main {
        display: flex;
        background-color: #fff;
        padding: 129px 0 0 0;

        @media(max-width: 480px) {
            padding: 80px 0 0 0;
        }

        & > .container {
            max-width: 1240px;

            & > .inner {
                width: 100vw;
                overflow: auto;
                flex-direction: column;
                min-height: calc(100vh - 167px);

                & > .table-overflow {
                    width: 99%;
                    overflow: auto;
                }

                & > .table-overflow > table {
                    min-width: 400px;
                }

                @media (max-width: 480px) {
                    min-height: calc(100vh - 118px);
                }
            }
        }
    }

    /* Footer
    =======================================*/
    & > .footer {
        display: flex;
        background-color: #e8e8e8;

        & > .container {

            & > .inner {
                width: 100%;
                height: 38px;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }
    }
}