@import "color.scss";
@import "main.scss";
@import "../components/header/style";
@import "../components/our-products/style";
@import "../components/footer/style";
@import "../components/cookie/style";
@import "../components/nav/style";
@import "../pages/decoder/style";
@import "../pages/rfbplayer/style";
@import "../pages/screenshots/style";
@import "../pages/winst/style";