<div class="header__burger">
    <span></span>
</div>
<nav class="header__menu">
    <ul class="header__list">
        <li>
            <span class="header__link">TightVNC</span>
            <ul class="sub-menu__list">
                <li>
                    <a href="/tvnc/dist/" class="sub-menu__link">Home</a>
                </li>
                <li>
                    <a href="/tvnc/dist/news.html" class="sub-menu__link">News</a>
                </li>
                <li>
                    <a href="/tvnc/dist/download.html" class="sub-menu__link">Download Now!</a>
                    <!--                               <ul class="sub-sub-menu__list">-->
                    <!--                                   <li>-->
                    <!--                                       <a href="" class="sub-sub-menu__link">Третий уровень</a>-->
                    <!--                                   </li>-->
                    <!--                               </ul>-->
                </li>
                <li>
                    <a href="/tvnc/dist/download-old.html" class="sub-menu__link">Download (v1.3)</a>
                </li>
                <li>
                    <a href="/tvnc/dist/lists.html" class="sub-menu__link">Mailing Lists</a>
                </li>
                <li>
                    <a href="/tvnc/dist/sitemap.html" class="sub-menu__link">Site Map</a>
                </li>
            </ul>
        </li>
        <li>
            <span class="header__link">Licensing / SDK</span>
            <ul class="sub-menu__list">
                <li>
                    <a href="/tvnc/dist/licensing.html" class="sub-menu__link">Products & SDKs</a>
                </li>
                <li>
                    <a href="/tvnc/dist/licensing-dotnetviewersdk.html" class="sub-menu__link">.NET Viewer SDK</a>
                </li>
                <li>
                    <a href="/tvnc/dist/licensing-tvnserver.html" class="sub-menu__link">Server for Windows</a>
                </li>
                <li>
                    <a href="/tvnc/dist/licensing-server-x11.html" class="sub-menu__link">Server for Unix/Linux</a>
                </li>
                <li>
                    <a href="/tvnc/dist/licensing-server-macos.html" class="sub-menu__link">Server for macOS</a>
                </li>
                <li>
                    <a href="/tvnc/dist/licensing-dispatcher.html" class="sub-menu__link">Dispatcher</a>
                </li>
                <li>
                    <a href="/tvnc/dist/licensing-jviewer.html" class="sub-menu__link">Java Viewer</a>
                </li>
                <li>
                    <a href="/tvnc/dist/decoder.html" class="sub-menu__link">Tight Decoder</a>
                </li>
            </ul>
        </li>
        <li>
            <span class="header__link">Information</span>
            <ul class="sub-menu__list">
                <li>
                    <a href="/tvnc/dist/screenshots.html" class="sub-menu__link">Screen Shots</a>
                </li>
                <li>
                    <a href="/tvnc/dist/docs.html" class="sub-menu__link">Documentation</a>
                </li>
                <li>
                    <a href="/tvnc/dist/faq.html" class="sub-menu__link">F.A.Q.</a>
                </li>
                <li>
                    <a href="/tvnc/dist/whatsnew.html" class="sub-menu__link">What's New</a>
                </li>
                <li>
                    <a href="/tvnc/dist/privacy.html" class="sub-menu__link">Privacy Policy</a>
                </li>
            </ul>
        </li>
        <li>
            <span class="header__link">Feedback</span>
            <ul class="sub-menu__list">
                <li>
                    <a href="/tvnc/dist/bugs.html" class="sub-menu__link">Report Bugs</a>
                </li>
                <li>
                    <a href="/tvnc/dist/rfe.html" class="sub-menu__link">Suggest Features</a>
                </li>
                <li>
                    <a href="/tvnc/dist/contact.html" class="sub-menu__link">Contact Us</a>
                </li>
            </ul>
        </li>
        <li>
            <span class="header__link">More Products</span>
            <ul class="sub-menu__list">
                <li>
                    <a href="https://play.google.com/store/apps/details?id=com.glavsoft.rrviewerpro&referrer=utm_source%3Dtightvnccom%26utm_medium%3Dlink%26utm_content%3Dmoreprod-link%26utm_campaign%3Drrviewer" class="sub-menu__link" target="_blank">Remote Ripple</a>
                </li>
                <li>
                    <a href="/tvnc/dist/rfbplayer.html" class="sub-menu__link">RFB Player</a>
                </li>
                <li>
                    <a href="https://sourceforge.net/projects/vnc-reflector/" class="sub-menu__link" target="_blank">VNC Reflector</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>