
<p>
    First of all: please <font color="#007000"><b>do not e-mail bug reports directly</b></font> to the developers. A much
    better place to report bugs is the <a target="_blank" href="https://sourceforge.net/tracker/?atid=114067&amp;group_id=14067&amp;func=browse">Bug Tracker</a>
    on the SourceForge.net site (see the details below). In addition, you might want to send a
    message to the <a href="lists.php">TightVNC mailing list</a>.
</p>
<h3>Using the Bug Tracker</h3>
<p>
    The tracker helps to keep all the bug reports <font color="#007000"><b>in one place</b></font>. Go through the following
    steps when reporting a new bug:
</p>
<ol>
    <li>Ask yourself <font color="#007000"><b>is it really a bug</b></font>. Maybe it's rather a misconfiguration or a
        hardware failure etc. Double-check that.</li>
    <li>If you have not <font color="#007000"><b>registered</b></font> on the SourceForge.net Web site, please do that before
        posting a bug report (see more information below).</li>
    <li>Go to the <a target="_blank" href="https://sourceforge.net/tracker/?atid=114067&amp;group_id=14067&amp;func=browse">bug
        tracker</a>.</li>
    <li>Make sure you are <font color="#007000"><b>logged in</b></font>.</li>
    <li><font color="#007000"><b>Search existing bug reports</b></font> for similar problems. If it's already there, just
        post another comment, instead of adding a similar report.</li>
    <li>If you have not found an existing report on your problem, consider adding a new bug
        report.</li>
    <li>Choose an <font color="#007000"><b>informative subject line</b></font>.</li>
    <li>Describe the problem, trying to provide enough information to <font color="#007000"><b>let a tester reproduce the bug</b></font>.</li>
</ol>
<h3>Why Registration Is Necessary?</h3>
<p>
    Technically, it could be possible to allow posting bug reports anonymously. The registration
    simply enables sending you <font color="#007000"><b>notifications on any changes</b></font> in the bug status. Also, as a
    registered user, you will automatically receive all the comments attached to your bug
    report. Note that such comments can include clarification inquires from project developers,
    or information on possible workarounds.
</p>
