
<h3>Server for macOS</h3>
<p>
    The best features and performance from TightVNC Server are now readily available for
    implementation into your macOS applications. Controlling your remote desktop with any
    VNC-compatible client has never been that easy and convenient.
</p>
<p>
    The Server for macOS is developed based on TightVNC version 2.0 and has a common codebase with
    Windows and Linux Servers. It supports most of the features available with the latest versions
    of TightVNC.
</p>
<p>
    Our VNC-compliant Server for macOS supports a variety of different encoders, including Tight
    encoder the fastest and well-known encoder for VNC protocol, implementing JPEG compression. Our
    Server for macOS is fully compatible with RFB protocol, hence you can create your protocol
    extensions for all your needs.
</p>
<p>
    For commercial licensing this product is available for licensing only under a source code
    license, no SDK or binary version can be provided.
</p>
<p>
    This product is not available under a free GNU GPL license and is not available for public
    download and review at our website.
</p>
<p>
    For more details, please fill in the licensing request form below.
</p>
<h3>Proceed to Licensing</h3>
<p>
    If you are interested in the <font color="#007000"><b>commercial licensing</b></font> option, please fill in the form below
    and press "Submit Information". Make sure to provide both your real personal name
    and the company name.
</p>
<p>
    You will be contacted by e-mail so please make sure to enter your <font color="#007000"><b>valid e-mail address</b></font>
    as well. This e-mail address will not be disclosed to any third party and will be used only
    for correspondence directly related to your request.
</p>
<p>
</p><form method="post" action="https://www.tightvnc.com/request-licensing.php" id="submit-form" name="submit-form">
    <table cellspacing="2" cellpadding="8" border="0" align="center">
        <tbody><tr bgcolor="#F4F4F4">
            <td valign="middle" nowrap="nowrap" align="left">
                Your full real name (required):
            </td>
            <td>
                <input type="text" name="name" size="32">
            </td>
        </tr>
        <tr bgcolor="#F4F4F4">
            <td valign="middle" nowrap="nowrap" align="left">
                E-mail address (required):
            </td>
            <td>
                <input name="email" type="text" size="32">
            </td>
        </tr>
        <tr bgcolor="#F4F4F4">
            <td valign="middle" nowrap="nowrap" align="left">
                Company/organization name (required):
            </td>
            <td>
                <input name="company" type="text" size="32">
            </td>
        </tr>
        <tr bgcolor="#F4F4F4">
            <td valign="middle" nowrap="nowrap" align="left">
                Your position in the company (required):
            </td>
            <td>
                <input name="position" type="text" size="32">
            </td>
        </tr>
        <tr bgcolor="#F4F4F4">
            <td colspan="2" valign="middle" nowrap="nowrap" align="left">
                <p>
                    <font color="#007000"><b>Please choose what is appropriate:</b></font>
                </p>
                <blockquote>
                    <input type="radio" name="action" value="purchase"> Our company would like to purchase the license right now<br>
                    <input type="radio" name="action" value="info"> We have a number of questions [please ask below]<br>
                    <input type="radio" name="action" value="wish"> We would purchase the license if ... [please write below]
                </blockquote>
            </td>
        </tr>
        <tr bgcolor="#F4F4F4">
            <td colspan="2" valign="middle" nowrap="nowrap" align="left">
                Additional information you wish to provide to TightVNC authors:<br>
                <textarea name="message" rows="5" cols="60"></textarea>
            </td>
        </tr>
        <tr bgcolor="#F4F4F4">
            <td colspan="2" valign="top" align="left">
                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody><tr>
                        <td width="100%" valign="middle" nowrap="nowrap" align="left">
                            Please click on the checkbox<br>
                            at the right (required):
                        </td>
                        <td width="0">&nbsp;&nbsp;&nbsp;</td>
                        <td width="0" valign="middle" align="right">
                            <div class="g-recaptcha" data-sitekey="6LfkCEMUAAAAANOIVa5hBDNcHWGb4OJW1qraupXl"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LfkCEMUAAAAANOIVa5hBDNcHWGb4OJW1qraupXl&amp;co=aHR0cHM6Ly93d3cudGlnaHR2bmMuY29tOjQ0Mw..&amp;hl=ru&amp;v=_KUxfxvAoJ4k7SaKyLbja4Mi&amp;size=normal&amp;cb=2etmiajz4c78" role="presentation" name="a-8mopqjqwqmpv" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox allow-storage-access-by-user-activation" width="304" height="78" frameborder="0"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div><iframe style="display: none;"></iframe></div>
                        </td>
                    </tr>
                    </tbody></table>
            </td>
        </tr>
        <tr bgcolor="#F4F4F4">
            <td colspan="2" valign="middle" nowrap="nowrap" align="center">
                <input type="checkbox" name="privacy_agree" onchange="document.getElementById('submit').disabled = !this.checked;" value="yes">
                I agree to the tightvnc.com
                <a target="_blank" href="privacy.php">Privacy Policy</a> (required)<br>
            </td>
        </tr>
        <tr bgcolor="#F4F4F4">
            <td colspan="2" valign="middle" nowrap="nowrap" align="center">
                <input type="hidden" name="comp_mserver" value="yes">
                <input type="hidden" name="srcpage" value="licensing-server-macos.php">
                <input type="submit" name="submit" id="submit" value="Submit Information">
            </td>
        </tr>
        </tbody></table>
</form>
<p></p>
<p>
    If you have problems with filling in this form, please <a href="contact.php">contact us
    directly</a>.
</p>
<p>
    <font color="#007000"><b>Thank you!</b></font>
</p>
