<div data-0208211447 class="form-container">
    <form class="form">
        <div class="fields-container">
            <label class="label">
                <div class="text">Your full real name (required):</div>
                <div class="input">
                    <input class="input" type="text" name="name" maxlength="256">
                </div>
            </label>
            <label class="label">
                <div class="text">E-mail address (required):</div>
                <div class="input">
                    <input class="input" type="text" name="email" maxlength="256">
                </div>
            </label>
            <label class="label">
                <div class="text">Company/organization name (required):</div>
                <div class="input">
                    <input class="input" type="text" name="company" maxlength="256">
                </div>
            </label>
            <label class="label">
                <div class="text">Your position in the company (required):</div>
                <div class="input">
                    <input class="input" type="text" name="position" maxlength="256">
                </div>
            </label>
        </div>
        <div class="checkbox-container">
            <div class="text">
                Software you are interested in:
            </div>
            <div class="left">
                <label class="label">
                    <input class="input" type="checkbox" name="comp_wserver" value="yes">
                    <div class="text">TightVNC Server for Windows</div>
                </label>
                <label class="label">
                    <input class="input" type="checkbox" name="comp_xserver" value="yes">
                    <div class="text">TightVNC Server for Unix/Linux</div>
                </label>
                <label class="label">
                    <input class="input" type="checkbox" name="comp_mserver" value="yes">
                    <div class="text">TightVNC Server for macOS</div>
                </label>
                <label class="label">
                    <input class="input" type="checkbox" name="comp_csviewer" value="yes">
                    <div class="text">C#/.NET Viewer SDK</div>
                </label>
                <label class="label">
                    <input class="input" type="checkbox" name="comp_rcsdk" value="yes">
                    <div class="text">Viewer SDK for other systems</div>
                </label>
                <label class="label">
                    <input class="input" type="checkbox" name="comp_wviewer" value="yes">
                    <div class="text">TightVNC Viewer for Windows</div>
                </label>
            </div>
            <div class="right">
                <label class="label">
                    <input class="input" type="checkbox" name="comp_macviewer" value="yes">
                    <div class="text">Viewer for macOS</div>
                </label>
                <label class="label">
                    <input class="input" type="checkbox" name="comp_mviewers" value="yes">
                    <div class="text">Mobile Viewers (iOS, Android)</div>
                </label>
                <label class="label">
                    <input class="input" type="checkbox" name="comp_jviewer" value="yes">
                    <div class="text">TightVNC Java Viewer</div>
                </label>
                <label class="label">
                    <input class="input" type="checkbox" name="comp_dispatcher" value="yes">
                    <div class="text">TightVNC Dispatcher</div>
                </label>
                <label class="label">
                    <input class="input" type="checkbox" name="comp_pctd" value="yes">
                    <div class="text">Pure C Tight Decoder</div>
                </label>
                <label class="label">
                    <input class="input" type="checkbox" name="comp_other" value="yes">
                    <div class="text">Other [please write below]</div>
                </label>
            </div>
        </div>
        <div class="radio-container">
            <div class="text">
                Please choose what is appropriate:
            </div>
            <div class="wrapper">
                <label class="label">
                    <input class="input" type="radio" name="action" value="purchase">
                    <div class="text">We consider purchasing commercial licenses</div>
                </label>
                <label class="label">
                    <input class="input" type="radio" name="action" value="info">
                    <div class="text">We have a number of questions [please ask below]</div>
                </label>
                <label class="label">
                    <input class="input" type="radio" name="action" value="wish">
                    <div class="text">We would purchase the license if ... [please write below]</div>
                </label>
            </div>
        </div>
        <div class="textarea-container">
            <label class="label">
                <div class="text">Additional information you wish to provide to TightVNC authors:</div>
                <textarea class="textarea" name="message" rows="5" cols="60"></textarea>
            </label>
        </div>
        <div class="recaptcha-container">
            <div class="text">
                Please click on the checkbox <br>at the right (required):
            </div>
            <div class="g-recaptcha" data-sitekey="6LfkCEMUAAAAANOIVa5hBDNcHWGb4OJW1qraupXl"></div>
        </div>
        <div class="privacy-container">
            <label class="label">
                <input class="input" type="checkbox" name="privacy_agree"
                       onchange="document.getElementById('submit').disabled = !this.checked;" value="yes">
                <div class="text">I agree to the tightvnc.com <a target="_blank" href="privacy.html">Privacy Policy</a>
                    (required)
                </div>
            </label>
        </div>
        <div class="submit-container">
            <input class="input" type="hidden" name="srcpage" value="licensing.html">
            <input class="input" type="submit" name="submit" id="submit" value="Submit Information">
        </div>
    </form>
</div>