/* Form-components
 =======================================*/
.form-container[data-0208211447] {
    width: 100%;
    margin: 20px 0;

    & > .form {
        max-width: 600px;
        border: 1px solid #f0f0f0;
        border-radius: 5px;
        margin: 0 auto;
        padding: 15px;
        background-color: #f4f4f4;

        & > .fields-container {
            margin-bottom: 12px;

            & > .label {
                position: relative;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-bottom: 12px;

                & > .text {
                    flex-grow: 1;
                    min-width: 332px;
                    margin: 0 5px 5px 0;
                }

                & > .input {
                    position: relative;
                    flex-grow: 1;
                    flex-basis: 0;
                    max-height: 26px;
                    width: 100%;
                    min-width: 230px;
                    max-width: 330px;

                    & > .input {
                        width: 100%;
                        padding-right: 15px;
                        font-size: 16px;
                    }
                }

                & > .input:after {
                    content: "*";
                    position: absolute;
                    display: inline-block;
                    height: 100%;
                    top: 3px;
                    right: 3px;
                    line-height: 1em;
                    color: #d4696a;
                }
            }
        }

        & > .checkbox-container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;

            & > .text {
                display: block;
                width: 100%;
                margin: 16px 0;
            }

            & > .left,
            & > .right {
                display: inline-block;
                flex-basis: 0;
                flex-grow: 1;
                max-width: 50%;
                margin-right: 10px;

                & > .label {
                    display: inline-block;
                    white-space: nowrap;

                    & > .input {
                        display: inline-block;
                    }

                    & > .text {
                        display: inline-block;
                        line-height: 21px;
                    }
                }
            }
        }

        & > .radio-container {

            & > .text {
                margin: 16px 0;
                font-weight: 700;
            }

            & > .wrapper {
                display: block;
                margin: 5px 10px;

                & > .label {
                    display: block;

                    & > .input {
                        display: inline;
                    }

                    & > .text {
                        display: inline;
                        line-height: 24px;
                    }
                }
            }
        }

        & > .textarea-container {
            display: block;
            width: 100%;
            margin-top: 15px;
            overflow: auto;

            & > .label {

                & > .text {
                    display: block;
                    margin-bottom: 5px;
                }
                & > .textarea {
                    display: block;
                    width: 100%;
                }
            }
        }

        & > .recaptcha-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: center;
            margin-top: 15px;

            & > .text {
                display: block;
                margin: 10px 10px 10px 0;

                @media(max-width: 595px) {
                    display: none;
                }
            }

            & > .g-recaptcha {
                height: 78px;
                width: 304px;
            }
        }

        & > .privacy-container {
            display: block;
            width: 100%;
            margin-top: 15px;
            text-align: center;

            & > .label {
                display: block;

                & > .input {
                    display: inline;
                }

                & > .text {
                    display: inline;
                    line-height: 21px;
                }
            }
        }

        & > .submit-container {
            display: block;
            width: 100%;
            margin-top: 15px;
            text-align: center;

            & > .input {
                display: inline-block;
                cursor: pointer;
                width: 250px;
                height: 40px;
                margin: 15px 15px 0 15px;
                font-size: 18px;
            }

            & > .input[disabled] {
                cursor: default;
            }
        }
    }
}
