<div class="all-flex site-container">
    <div class="all-flex site-container-block site-container-block-1">
        <div class="all-flex top-container content-container">
            <div class="all-flex top-container-left">
                <img class="top-container-left-image" src="/logo/tightvnc-logo-90x90.png">
            </div>
            <div class="all-flex top-container-right">
                <div class="text paragraph top-container-right-title title-text">
                    TightVNC v.2
                </div>
                <div class="text paragraph top-container-right-paragraph">
                    Famous remote desktop tool, 100% free and Open Source
                </div>
            </div>
        </div>
        <div class="all-flex middle-container content-container">
            <div class="text paragraph middle-container-paragraph">
                ✓Windows XP & above ✓Java Viewer
            </div>
        </div>
        <a target="blank" href="download.php" class="all-flex bottom-container content-container">
            <div class="text paragraph bottom-container-paragraph">
                Download your free copy
            </div>
        </a>
    </div>
    <div class="all-flex site-container-block site-container-block-2">
        <div class="all-flex top-container content-container">
            <!-- <div class="all-flex top-container-left">
              <img class="top-container-left-image" src="logo/tightvnc-logo-90x90.png">
            </div> -->
            <div class="all-flex top-container-right">
                <div class="text paragraph top-container-right-title title-text">
                    Remote Core SDK
                </div>
                <div class="text paragraph top-container-right-paragraph">
                    Easily add remote desktop functions into your own software
                </div>
            </div>
        </div>
        <div class="all-flex middle-container content-container">
            <div class="text paragraph middle-container-paragraph">
                ✓.NET ✓iOS ✓macOS ✓Android ✓Linux +more!
            </div>
        </div>
        <a class="all-flex bottom-container content-container" target="blank" href="https://remotecoresdk.com" onClick="javascript: pageTracker._trackPageview('/remotecoresdk');">
            <div class="text paragraph bottom-container-paragraph">
                More info & Request a demo
            </div>
        </a>
    </div>
    <div class="all-flex site-container-block site-container-block-3">
        <div class="all-flex top-container content-container">
            <div class="all-flex top-container-left">
                <img class="top-container-left-image" src="/logo/remoteripple-logo-90x90.png">
            </div>
            <div class="all-flex top-container-right">
                <div class="text paragraph top-container-right-title title-text">
                    Remote Ripple
                </div>
                <div class="text paragraph top-container-right-paragraph">
                    New app to view & control VNC remote desktops
                </div>
            </div>
        </div>
        <div class="all-flex middle-container content-container">
            <div class="text paragraph middle-container-paragraph">
                ✓iOS ✓iPadOS ✓macOS ✓Android
            </div>
        </div>
        <a class="all-flex bottom-container content-container" target="blank" href="https://remoteripple.com" onClick="javascript: pageTracker._trackPageview('/remoteripple');">
            <div class="text paragraph bottom-container-paragraph">
                Get more info & Install
            </div>
        </a>
    </div>
    <div class="all-flex site-container-block site-container-block-4">
        <div class="all-flex top-container content-container">
            <div class="all-flex top-container-left">
                <img class="top-container-left-image" src="/logo/mightyviewer-logo-90x90.png">
            </div>
            <div class="all-flex top-container-right">
                <div class="text paragraph top-container-right-title title-text">
                    MightyViewer
                </div>
                <div class="text paragraph top-container-right-paragraph">
                    Continuously monitor many remote desktops in real time
                </div>
            </div>
        </div>
        <div class="all-flex middle-container content-container">
            <div class="text paragraph middle-container-paragraph">
                ✓ All modern versions of Windows
            </div>
        </div>
        <a class="all-flex bottom-container content-container" target="blank" href="https://mightyviewer.com" onClick="javascript: pageTracker._trackPageview('/mightyviewer');">
            <div class="text paragraph bottom-container-paragraph">
                Get more info & Install
            </div>
        </a>
    </div>
</div>