<div class="container-center-horizontal">
    <div class="frame-1 screen">
        <div class="flex-col-1">
            <div class="tight-vnc">
                <div class="overlap-group4">
                    <div class="flex-row">
                        <img
                                alt="tightvnc"
                                class="x-logo-90x90"
                                src="logo/tightvnc-logo-90x90.png"
                        />
                        <div class="flex-col">
                            <div class="title tahoma-bold-black-26px">TightVNC v.2</div>
                            <div class="text valign-text-middle tahoma-regular-normal-black-16px">
                                Famous remote desktop tool, 100% free and Open Source
                            </div>
                        </div>
                    </div>
                    <div class="text-12 valign-text-middle tahoma-regular-normal-gray-16px">
                        ✓Windows XP &amp; above&nbsp;&nbsp;✓Java Viewer
                    </div>
                    <a target="_blank" href="/download.php" class="overlap-group">
                        <span class="text-11 valign-text-middle tahoma-regular-normal-black-18px">Download your free copy
                        </span>
                    </a>
                </div>
            </div>
            <div class="remote-ripple">
                <div class="overlap-group2">
                    <div class="flex-row-1">
                        <img
                                alt="Remote Ripple"
                                class="x-logo-90x90"
                                src="logo/remoteripple-logo-90x90.png"
                        />
                        <div class="flex-col">
                            <div class="remote-ripple-1 tahoma-bold-black-26px">Remote Ripple</div>
                            <div class="text valign-text-middle tahoma-regular-normal-black-16px">
                                New app to view &amp; control VNC remote desktops
                            </div>
                        </div>
                    </div>
                    <div class="text-1 valign-text-middle tahoma-regular-normal-gray-16px">
                        ✓iOS&nbsp;&nbsp;✓iPadOS&nbsp;&nbsp;✓macOS&nbsp;&nbsp;✓Android
                    </div>
                    <a target="_blank" href="https://remoteripple.com" class="overlap-group-1">
                        <span class="text-2 valign-text-middle tahoma-regular-normal-black-18px">Get more info &amp;
                            Install
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="flex-col-2">
            <div class="remote-core-sdk">
                <div class="overlap-group3">
                    <div class="remote-core-sdk-1 tahoma-bold-black-26px">Remote Core SDK</div>
                    <div class="text-7 valign-text-middle tahoma-regular-normal-black-16px">
                        Easily add remote desktop functions into your own software
                    </div>
                    <div class="text-9 valign-text-middle">✓.NET ✓iOS ✓macOS ✓Android ✓Linux +more!</div>
                    <a target="_blank" href="https://remotecoresdk.com" class="overlap-group-2">
                        <span class="text-8 valign-text-middle tahoma-regular-normal-black-18px">More info &amp; Request a
                            demo
                        </span>
                    </a>
                </div>
            </div>
            <div class="mighty-viewer">
                <div class="overlap-group-3">
                    <div class="flex-row-2">
                        <img
                                alt="MightyViewer"
                                class="x-logo-90x90"
                                src="logo/mightyviewer-logo-90x90.png"
                        />
                        <div class="flex-col-3">
                            <div class="mighty-viewer-1 tahoma-bold-black-26px">MightyViewer</div>
                            <div class="text valign-text-middle tahoma-regular-normal-black-16px">
                                Continuously monitor many remote desktops in real time
                            </div>
                        </div>
                    </div>
                    <div class="text-1 valign-text-middle tahoma-regular-normal-gray-16px">✓ All modern versions of
                        Windows
                    </div>
                    <a target="_blank" href="https://mightyviewer.com" class="overlap-group1">
                        <span class="text-2 valign-text-middle tahoma-regular-normal-black-18px">Get more info &amp;
                            Install
                        </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="flex-col-2">
            <div class="remote-core-sdk">
                <div class="overlap-group3">
                    <div class="remote-core-sdk-1 tahoma-bold-black-26px">Remote Core SDK</div>
                    <div class="text-7 valign-text-middle tahoma-regular-normal-black-16px">
                        Easily add remote desktop functions into your own software
                    </div>
                    <div class="text-9 valign-text-middle">✓.NET ✓iOS ✓macOS ✓Android ✓Linux +more!</div>
                    <a target="_blank" href="https://remotecoresdk.com" class="overlap-group-2">
                        <span class="text-8 valign-text-middle tahoma-regular-normal-black-18px">More info &amp; Request a
                            demo
                        </span>
                    </a>
                </div>
            </div>
            <div class="mighty-viewer">
                <div class="overlap-group-3">
                    <div class="flex-row-2">
                        <img
                                alt="MightyViewer"
                                class="x-logo-90x90"
                                src="logo/mightyviewer-logo-90x90.png"
                        />
                        <div class="flex-col-3">
                            <div class="mighty-viewer-1 tahoma-bold-black-26px">MightyViewer</div>
                            <div class="text valign-text-middle tahoma-regular-normal-black-16px">
                                Continuously monitor many remote desktops in real time
                            </div>
                        </div>
                    </div>
                    <div class="text-1 valign-text-middle tahoma-regular-normal-gray-16px">✓ All modern versions of
                        Windows
                    </div>
                    <a target="_blank" href="https://mightyviewer.com" class="overlap-group1">
                        <span class="text-2 valign-text-middle tahoma-regular-normal-black-18px">Get more info &amp;
                            Install
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div data-our-product="2810210945" class="container">
    <!--    <div class="item item-1">-->
    <!--        <div class="wrap">-->
    <!--            <div class="top">-->
    <!--                <img class="logo" src="logo/tightvnc-logo-90x90.png" alt="tightvnc">-->
    <!--                <div class="text">-->
    <!--                    <div class="title">TightVNC v.2</div>-->
    <!--                    <div class="description">Famous remote desktop tool, 100% free and Open Source</div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            <div class="middle">-->
    <!--                <div class="text">✓Windows XP & above  ✓Java Viewer</div>-->
    <!--            </div>-->
    <!--            <a class="bottom" href="">-->
    <!--                <span class="text">Download your free copy</span>-->
    <!--            </a>-->
    <!--        </div>-->
    <!--    </div>-->
    <template id="template">
        <div class="item item-1">
            <div class="wrap">
                <div class="top">
                    <img class="logo" src="" alt="">
                    <div class="text">
                        <div class="title"></div>
                        <div class="description"></div>
                    </div>
                </div>
                <div class="middle">
                    <div class="text"></div>
                </div>
                <a class="bottom" href="">
                    <span class="text"></span>
                </a>
            </div>
        </div>
    </template>
</div>

