<div data-our-product="2810210945" class="wrapper">
    <template id="template">
        <div class="container">
            <div class="item">
                <div class="wrap">
                    <div class="top">
                        <img class="logo" src="" alt="">
                        <div class="information">
                            <div class="title"></div>
                            <div class="description"></div>
                        </div>
                    </div>
                    <div class="middle">
                        <div class="paragraph"></div>
                    </div>
                    <a class="bottom" href="" target="_blank">
                        <span class="text"></span>
                    </a>
                </div>
            </div>
        </div>
    </template>
</div>

