/* our-products components
 =======================================*/

@font-face {
    font-family: 'Tahoma-Bold';
    src: url('../fonts/Tahoma-Bold.woff2') format('woff2'),
    url('../fonts/Tahoma-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Tahoma-Regular';
    src: url('../fonts/Tahoma.woff2') format('woff2'),
    url('../fonts/Tahoma.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.wrapper[data-our-product="2810210945"] {
    //color
    --black: rgba(0, 0, 0, 1);
    --white: rgba(255, 255, 255, 1);
    --gray-window: rgba(144, 161, 186, 1);

    --creamy: rgba(244, 204, 199, 1);
    --space-cream: rgba(255, 251, 231, 1);
    --pink-antique: rgba(202, 118, 109, 1);

    --orange-peach: rgba(254, 209, 151, 1);
    --sea-shell: rgba(255, 246, 235, 1);
    --yellow-orange-crayola: rgba(255, 168, 55, 1);

    --light-yellow-pink: rgba(255, 176, 157, 1);
    --sea-shell-color: rgba(255, 239, 235, 1);
    --intense-yellow-pink: rgba(255, 126, 94, 1);

    --sea-green-crayola: rgba(157, 218, 191, 1);
    --smoky-white: rgba(241, 250, 246, 1);
    --moderate-aquamarine: rgba(101, 196, 154, 1);

    --light-blue: rgba(160, 204, 255, 1);
    --blue-alice: rgba(241, 248, 255, 1);
    --skiey: rgba(108, 176, 254, 1);

    --periwinkle: rgba(210, 189, 255, 1);
    --magnolia: rgba(248, 244, 255, 1);
    --wisteria: rgba(184, 150, 255, 1);

    //font
    --font-size-s: 14px;
    --font-size-m: 16px;
    --font-size-l: 18px;
    --font-size-xl: 24px;

    --font-family-inter: "Inter";
    --font-family-inter-bold: "Inter-Bold";
    --font-family-inter-regular: "Inter-Regular";
    --font-family-tahoma-bold: "Tahoma-Bold";
    --font-family-tahoma-regular: "Tahoma-Regular";
}

.wrapper[data-our-product="2810210945"] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: -26px;

    & > .container {
        margin-right: 24px;
        margin-bottom: 24px;

        & > .item {
            height: 205px;
            width: 100%;
            max-width: 352px;
            min-width: 290px;
            padding: 12px;
            border-radius: 24px;
            border-radius: clamp(12px, 1.4vw, 24px);
            border-width: 1px;
            border-style: solid;
            border-color: transparent;

            @media (max-width: 400px) {
                height: auto;
            }

            & > .wrap {
                display: flex;
                flex-direction: column;
                align-items: center;

                & > .top {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;

                    & > .logo {
                        height: 84px;
                        width: 84px;
                    }
                    & > .information {
                        display: flex;
                        flex-direction: column;
                        //width: 209px;
                        margin-top: 5px;
                        margin-left: 10px;

                        & > .title {
                            color: var(--black);
                            font-family: var(--font-family-tahoma-bold);
                            font-size: var(--font-size-xl);
                            font-weight: 700;
                            font-style: normal;
                        }
                        & > .description {
                            margin-top: 3px;
                            color: var(--black);
                            font-family: var(--font-family-tahoma-regular);
                            font-size: var(--font-size-m);
                            font-weight: 400;
                            font-style: normal;
                            line-height: 22px;
                        }
                    }
                }
                & > .middle {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin-top: 6px;

                    @media (max-width: 400px) {
                        justify-content: flex-start;
                    }

                    & > .paragraph {
                        color: var(--gray-window);
                        font-family: var(--font-family-tahoma-regular);
                        font-size: var(--font-size-s);
                        font-weight: 400;
                        font-style: normal;
                    }
                }

                & > .bottom {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    height: 45px;
                    width: 100%;
                    max-width: 303px;
                    margin-top: 17px;
                    border-radius: 12px;
                    text-decoration: none;
                    cursor: pointer;

                    & > .text {
                        color: var(--white);
                        font-family: var(--font-family-tahoma-regular);
                        font-size: var(--font-size-l);
                        font-weight: 400;
                        font-style: normal;
                    }
                }
            }

            &.card-tightvnc {
                border-color: var(--creamy);
                background-color: var(--space-cream);

                & > .wrap {

                    & > .bottom {
                        background-color: var(--pink-antique);
                    }
                }
            }
            &.card-sourcecode {
                border-color: var(--orange-peach);
                background-color: var(--sea-shell);

                & > .wrap {

                    & > .bottom {
                        background-color: var(--yellow-orange-crayola);
                    }
                }
            }
            &.card-remotecoresdk {
                border-color: var(--light-yellow-pink);
                background-color: var(--sea-shell-color);

                & > .wrap {

                    & > .bottom {
                        background-color: var(--intense-yellow-pink);
                    }
                }
            }
            &.card-mightyviewer {
                border-color: var(--sea-green-crayola);
                background-color: var(--smoky-white);

                & > .wrap {

                    & > .bottom {
                        background-color: var(--moderate-aquamarine);
                    }
                }
            }
            &.card-remoteripple {
                border-color: var(--light-blue);
                background-color: var(--blue-alice);

                & > .wrap {

                    & > .bottom {
                        background-color: var(--skiey);
                    }
                }
            }
            &.card-tightprojector {
                border-color: var(--periwinkle);
                background-color: var(--magnolia);

                & > .wrap {

                    & > .bottom {
                        background-color: var(--wisteria);
                    }
                }
            }
        }
    }
}

/* END our-products components
 =======================================*/

