/* winst page style
 =======================================*/

.winst-page[data-2907211228] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    @include _-750 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    & > .wrap {
        margin: 0 20px;

        @include _-414 {
            margin: 0;
        }

        & > .item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
            margin-left: auto;
            margin-right: auto;

            @include _-750 {
                align-items: center !important;
            }

            & > .img {
                max-width: 100%;
            }

            & > .text {
                margin-top: 10px;
                font-family: inherit;
                font-size: 13px;
                font-weight: normal;
                line-height: 23px;
            }
        }

        & + .wrap {

            & > .item {
                align-items: flex-start;
            }
            & > .item:first-child {

                @include _-750 {
                    margin-top: 0;
                }
            }
        }
    }
}

.winst-page[data-2907211025] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    & > .img {
        max-width: 100%;
    }

    & > .text {
        margin-top: 10px;
        font-family: inherit;
        font-size: 13px;
        font-weight: normal;
    }
}